$orange: #fe5f1e;
$black: #232323;

.button {
  display: inline-block;
  background: $orange;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: background 0.2s;
  &:hover {
    background: darken($orange, 8%);
  }
  &:active {
    background: darken($orange, 12%);
  }
  &--outline {
    background: #fff;
    color: $orange;
    border: 1.5px solid $orange;
    &:hover {
      background: lighten($color: $black, $amount: 10);
    }
  }
}
